@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1,
p {
  line-height: 24px;
}

.header {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header .container {
  padding: 50px 100px 0;
}

.header-nav__li {
  list-style: none;
}

.header-nav__li:not(:last-child) {
  margin-right: 80px;
}

.section-first {
  background: url("../image/bg.png") no-repeat center center/cover;
  height: 100vh;
  color: white;
}

.section-first .container {
  height: 100%;
  padding: 0 100px;
}

.section-first__title {
  font-size: 50px;
  line-height: normal;
}

.section-first__subtitle {
  max-width: 546px;
  font-size: 16px;
  margin: 25px 0 50px;
}

.section-first__input {
  padding: 0 0 15px 40px;
  background: none;
  color: white;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  font-size: 18px;
  width: 300px;
}

.section-first__input:nth-child(4) {
  margin: 0 60px;
}

.section-first__btn {
  background-color: #1b7dff;
  border: none;
  font-size: 24px;
  font-weight: 500;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
}

.section-about {
  -webkit-transform: translateY(-125px);
          transform: translateY(-125px);
}

.section-about-content {
  padding: 50px 100px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.1599);
          box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.1599);
}

.section-about-content__title {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 100px;
}

.section-about-content-item {
  max-width: 320px;
}

.section-about-content-item:not(.section-about-content-item:last-child) {
  margin-right: 50px;
}

.section-about-content-item__title {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 500;
}

.section-about-content-item__subtitle {
  font-size: 16px;
  font-weight: 400;
}

.section-about-content-item__link {
  color: #006dfe;
  margin-top: 35px;
  cursor: pointer;
}

.section-trip__title {
  font-size: 35px;
  font-weight: 500;
  position: relative;
}

.section-trip__title:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  left: 0;
  bottom: -20px;
  background-color: #006dfe;
}

.section-trip__btn {
  color: #006dfe;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.section-trip__btn img {
  margin-left: 25px;
}

.section-trip-content {
  margin-top: 25px;
}

.section-trip-content-item__img {
  width: 100%;
}

.section-info {
  margin-top: 100px;
}

.section-info-item {
  margin-bottom: 50px;
}

.section-info-item-content__title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 85px;
}

.section-info-item-content__subtitle {
  font-size: 16px;
  margin-bottom: 55px;
}

.section-info-item-content__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #006dfe;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.section-info-item-content__btn img {
  margin-left: 25px;
}

.section-card__title {
  font-size: 35px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}

.section-card__title:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  left: 0;
  bottom: -20px;
  background-color: #006dfe;
}

.section-card-content {
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-card-content-item {
  max-width: 386px;
  margin-bottom: 50px;
}

.section-card-content-item-bg {
  position: relative;
}

.section-card-content-item-bg__img {
  display: block;
}

.section-card-content-item-bg-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(21, 24, 36, 0.6);
  color: white;
  padding: 15px 20px;
}

.section-card-content-item-bg-content__title {
  font-size: 18px;
  font-weight: 500;
}

.section-card-content-item-bg-content__title + .flex .flex:first-child {
  margin-right: 15px;
}

.section-card-content-item-bg-content__subtitle {
  font-size: 16px;
  font-weight: 500;
}

.section-card-content-item-bg-content__subtitle + img {
  margin-left: 5px;
}

.section-card-content-item__subtitle {
  font-size: 16px;
  margin: 40px 0 30px;
}

.section-card-content-item__btn {
  background-color: #1b7dff;
  border: none;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */